In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#creando csv
with open('weather_data.csv', 'w') as f:
    f.write('day,temp,condition\n')
    f.write('Monday,12,Sunny\n')
    f.write('Tuesday,14,Rain\n')
    f.write('Wednesday,15,Rain\n')
    f.write('Thursday,14,Cloudy\n')
    f.write('Friday,21,Sunny\n')
    f.write('Saturday,22,Sunny\n')
    f.write('Sunday,24,Sunny\n')

In [4]:
import csv
with open('weather_data.csv') as data_file:
    # Se recorre el archivo y se crea un iterable en data
    data = csv.reader(data_file)
    print("Contenido del CSV usando librería CSV:")
    for row in data:
        print(row)

Contenido del CSV usando librería CSV:
['day', 'temp', 'condition']
['Monday', '12', 'Sunny']
['Tuesday', '14', 'Rain']
['Wednesday', '15', 'Rain']
['Thursday', '14', 'Cloudy']
['Friday', '21', 'Sunny']
['Saturday', '22', 'Sunny']
['Sunday', '24', 'Sunny']

In [5]:
# Usando la librería pandas para leer el archivo
print("\nContenido del CSV usando Pandas:")
df_weather = pd.read_csv('weather_data.csv')
print(df_weather)

Contenido del CSV usando Pandas:
         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [6]:
# con pandas queda mejor visualizado
print("\nCreando una Serie básica:")
s = pd.Series(['Mark', 'Justin', 'John', 'Vicky'], dtype='string')
print(s)
# Creando un indicides personalizados

Creando una Serie básica:
0      Mark
1    Justin
2      John
3     Vicky
dtype: string

In [7]:
# Creando una Serie con índices personalizados
print("\nCreando una Serie con índices personalizados:")
s = pd.Series(['Mark', 'Justin', 'John', 'Vicky'], index=[222, 333, 444, 555], dtype='string')
print(s)

Creando una Serie con índices personalizados:
222      Mark
333    Justin
444      John
555     Vicky
dtype: string

In [8]:
# Creando una Serie con un indices estudiantes
print("\nEjemplo de Serie con notas de estudiantes:")
notas = [5.7, 8.5, 9.1, 5.5, 8.2, 9.0, 10, 7.0, 7.7, 9.9]
estudiantes = ["Juan", "Jennifer", "David", "Pablo", "Armando", "Magdalena", "Francesca", "Rosmery", "Vicente", "Martin"]
calificaciones = pd.Series(notas, index=estudiantes)
print(calificaciones)

Ejemplo de Serie con notas de estudiantes:
Juan          5.7
Jennifer      8.5
David         9.1
Pablo         5.5
Armando       8.2
Magdalena     9.0
Francesca    10.0
Rosmery       7.0
Vicente       7.7
Martin        9.9
dtype: float64

In [9]:
# Creando Series desde un diccionario
print("\nCreando Series desde un diccionario:")
new_dict = {
    "Matemáticas": 8.0,
    "Programación": 7.7,
    "Inglés": 8.2
}
s_dict = pd.Series(new_dict)
print(s_dict)

Creando Series desde un diccionario:
Matemáticas     8.0
Programación    7.7
Inglés          8.2
dtype: float64

La función range en Python genera una secuencia de números enteros. Es comúnmente utilizada en bucles for para iterar sobre un rango de valores.

Sintaxis:
Parámetros:
start (opcional): El valor inicial de la secuencia (por defecto es 0).
stop: El valor final de la secuencia (no incluido).
step (opcional): El incremento entre cada número en la secuencia (por defecto es 1).

In [13]:
# Usando range
print("\nCreando Series desde range():")
s_range = pd.Series(range(10,100,10), index=range(1,10))
print(s_range)

Creando Series desde range():
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

En Pandas, un valor escalar es un único valor constante que puede ser utilizado para crear una Serie o para realizar operaciones en un DataFrame o Serie.

In [11]:
# Desde un escalar (repetición del valor)
print("\nCreando Series desde un escalar:")
s_scalar = pd.Series(10, index=[0, 1, 2, 3, 4, 5])
print(s_scalar)

Creando Series desde un escalar:
0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

La función linspace de NumPy se utiliza para generar un conjunto de números equiespaciados dentro de un rango especificado. Es útil cuando necesitas dividir un intervalo en partes iguales.

Sintaxis:
Parámetros principales:
start: El valor inicial del rango.
stop: El valor final del rango.
num: Número de valores a generar (por defecto es 50).
endpoint: Si es True, incluye el valor final (stop) en el conjunto (por defecto es True).
retstep: Si es True, devuelve también el tamaño del paso entre los valores generados.
dtype: Tipo de dato de los valores generados.

In [34]:
# Usando linspace de NumPy
print("\nCreando Series con np.linspace:")
s_linspace = pd.Series(np.linspace(0, 80,5))
print(s_linspace)

Creando Series con np.linspace:
0     0.0
1    20.0
2    40.0
3    60.0
4    80.0
dtype: float64

La list comprehension en Python es una forma concisa y eficiente de crear listas a partir de iterables, como listas, rangos o cualquier objeto iterable.

Sintaxis:
Componentes:
expresion: La operación o valor que se agrega a la nueva lista.
elemento: Cada elemento del iterable.
iterable: La colección de datos que se recorre.
condicion (opcional): Un filtro para incluir solo ciertos elementos.

In [14]:
# Usando list comprehension
print("\nCreando Series con list comprehension:")
s_comp = pd.Series(range(1, 20, 3), index=[x for x in 'abcdefg'])
print(s_comp)

Creando Series con list comprehension:
a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64

#serie aleatorea

In [ ]:
# Usando el módulo random de NumPy
print("\nCreando Series con random de NumPy:")
s_random = pd.Series(np.random.randint(1, 100, size=10))
print(s_random)

Creando Series con random de NumPy:
0    73
1    76
2     5
3    85
4    60
5    60
6    19
7    85
8    86
9    66
dtype: int32

#metodos y atribuetos de series

In [ ]:
## 6. Métodos y atributos de Series

print("\nMétodos y atributos de Series:")
s_demo = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Atributos básicos
print("Tamaño:", s_demo.size)
print("Índice:", s_demo.index)
print("Tipo de datos:", s_demo.dtype)
print("Valores:", s_demo.values)
print("Nombre de la Serie:", s_demo.name)
print("Nombre del índice:", s_demo.index.name)
print("Número de dimensiones:", s_demo.ndim)    
print("Dimensiones:", s_demo.shape)

Métodos y atributos de Series:
Tamaño: 10
Índice: RangeIndex(start=0, stop=10, step=1)
Tipo de datos: int64
Valores: [ 1  2  3  4  5  6  7  8  9 10]
Nombre de la Serie: None
Nombre del índice: None
Número de dimensiones: 1
Dimensiones: (10,)

# Operaciones Basicas

In [36]:

# Métodos estadísticos
print("Conteo:", s_demo.count())
print("Suma:", s_demo.sum())
print("Mínimo:", s_demo.min())
print("Máximo:", s_demo.max())
print("Media:", s_demo.mean())
print("Descripción completa:")
print(s_demo.describe())

Conteo: 10
Suma: 55
Mínimo: 1
Máximo: 10
Media: 5.5
Descripción completa:
count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

En Pandas, la multiplicación escalar se refiere a multiplicar todos los elementos de una Serie o un DataFrame por un valor escalar (un único número). Esto se aplica a cada elemento de la estructura de datos.

Ejemplo con una Serie:

In [37]:
## 7. Operaciones con Series

print("\nOperaciones con Series:")

# Multiplicar por un escalar
print("Multiplicación por escalar:")
print(s_demo * 2)

Operaciones con Series:
Multiplicación por escalar:
0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

En Pandas, la operación módulo (%) se utiliza para calcular el residuo de la división de cada elemento de una Serie o DataFrame por un número escalar o por los elementos de otra estructura de datos compatible.

In [38]:
# Módulo
print("\nOperación módulo:")
print(s_demo % 2)

Operación módulo:
0    1
1    0
2    1
3    0
4    1
5    0
6    1
7    0
8    1
9    0
dtype: int64

operaciones con cadenas

In [39]:
# Operaciones con cadenas
print("\nOperaciones con cadenas:")
s_str = pd.Series(['a', 'b', 'c'])
print(s_str * 5)

Operaciones con cadenas:
0    aaaaa
1    bbbbb
2    ccccc
dtype: object

multipicación de dos series

In [ ]:
# Operaciones entre Series
print("\nOperaciones entre Series:")
s1 = pd.Series([2, 4, 6])
s2 = pd.Series([5, 4, 3])
print(s1 * s2)

Operaciones entre Series:
0    10
1    16
2    18
dtype: int64

# aplicar las funciones a las series

In [41]:
## 8. Aplicar funciones a Series

print("\nAplicar funciones a Series:")

# Aplicando función a una Serie numérica
def cuadrado(x):
    return x**2

print("Función cuadrado:")
print(s_demo.apply(cuadrado))

Aplicar funciones a Series:
Función cuadrado:
0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64

# Aplicando función a una Serie de texto

In [42]:
# Aplicando función a una Serie de texto
print("\nFunción sobre texto:")
print(s_str.apply(str.upper))

Función sobre texto:
0    A
1    B
2    C
dtype: object

# filtar una serie

In [43]:
print("\nFiltrar una Serie:")
s_notas = pd.Series({'Matemáticas': 6.0, 'Economía': 4.5, 'Programación': 8.5})
print("Serie original:")
print(s_notas)
print("\nNotas mayores a 5:")
print(s_notas[s_notas > 5])

Filtrar una Serie:
Serie original:
Matemáticas     6.0
Economía        4.5
Programación    8.5
dtype: float64

Notas mayores a 5:
Matemáticas     6.0
Programación    8.5
dtype: float64

## 10. Ordenar una Serie

In [ ]:
## 10. Ordenar una Serie

print("\nOrdenar una Serie:")
print("Ordenado por valores (ascendente):")
print(s_notas.sort_values())
print("\nOrdenado por índice (descendente):")
print(s_notas.sort_index(ascending=False))

# eliminar los nulos

In [45]:
## 11. Eliminar datos nulos y desconocidos

print("\nEliminar datos nulos y desconocidos:")
s_nulos = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
print("Serie con valores nulos:")
print(s_nulos)
print("\nSerie después de eliminar nulos:")
print(s_nulos.dropna())

Eliminar datos nulos y desconocidos:
Serie con valores nulos:
0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

Serie después de eliminar nulos:
0    a
1    b
3    c
5    d
dtype: object

# 12. DataFrame - Introducción

# Un DataFrame es una estructura bidimensional (tabla)
# Las columnas son Series, por lo que cada columna debe tener el mismo tipo de datos
# Tiene dos índices: uno para filas y otro para columnas

## 13. Creación de DataFrames

# 13.1 DataFrame desde un diccionario de listas

In [46]:
print("\nDataFrame desde un diccionario de listas:")
datos = {
    'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],
    'edad': [18, 22, 20, 21],
    'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],
    'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
}
df_dict = pd.DataFrame(datos)
print(df_dict)

DataFrame desde un diccionario de listas:
    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

# 13.2 DataFrame desde una lista de listas

In [47]:
print("\nDataFrame desde una lista de listas:")
df_listas = pd.DataFrame([
    ['María', 18, 'maria@gmail.com'], 
    ['Luis', 22, 'luis@gmail.com'], 
    ['Carmen', 20, 'carmen@gmail.com']
], columns=['Nombre', 'Edad', 'Email'])
print(df_listas)

DataFrame desde una lista de listas:
   Nombre  Edad             Email
0   María    18   maria@gmail.com
1    Luis    22    luis@gmail.com
2  Carmen    20  carmen@gmail.com

# 13.3 DataFrame desde una lista de diccionarios

In [49]:
print("\nDataFrame desde una lista de diccionarios:")
df_lista_dict = pd.DataFrame([
    {'Nombre': 'María', 'Edad': 18}, 
    {'Nombre': 'Luis', 'Edad': 22},
    {'Nombre': 'Carmen'}
])
print(df_lista_dict)

DataFrame desde una lista de diccionarios:
   Nombre  Edad
0   María  18.0
1    Luis  22.0
2  Carmen   NaN

# 13.4 DataFrame desde un Array NumPy

In [50]:
print("\nDataFrame desde un Array NumPy:")
arr = np.array([1, 2, 3, 4, 5], dtype='int')
df_array = pd.DataFrame((arr, [5, 4, 3, 2, 1]))
print(df_array)

DataFrame desde un Array NumPy:
   0  1  2  3  4
0  1  2  3  4  5
1  5  4  3  2  1

# 13.5 DataFrame desde un archivo CSV

In [52]:
print("\nDataFrame desde un archivo CSV:")
df_csv = pd.read_csv('weather_data.csv')
print(df_csv)

DataFrame desde un archivo CSV:
         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

# Atributos con dataframes

In [53]:
## 14. Atributos de DataFrames

print("\nAtributos de DataFrames:")
print("Dimensiones (filas, columnas):", df_dict.shape)
print("Tipos de datos:")
print(df_dict.dtypes)
print("Primeras 3 filas:")
print(df_dict.head(3))
print("Últimas 2 filas:")
print(df_dict.tail(2))
print("Información detallada del DataFrame:")
df_dict.info()
print("Resumen estadístico:")
print(df_dict.describe())

Atributos de DataFrames:
Dimensiones (filas, columnas): (4, 4)
Tipos de datos:
nombre    object
edad       int64
grado     object
correo    object
dtype: object
Primeras 3 filas:
   nombre  edad         grado            correo
0   María    18      Economía   maria@gmail.com
1    Luis    22      Medicina     luis@yahoo.es
2  Carmen    20  Arquitectura  carmen@gmail.com
Últimas 2 filas:
    nombre  edad         grado             correo
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com
Información detallada del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nombre  4 non-null      object
 1   edad    4 non-null      int64
 2   grado   4 non-null      object
 3   correo  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 260.0+ bytes
Resumen estadístico:
            edad
count   4.000000
mean   20.250000
std     1.707825
min    18.000000
25%    19.500000
50%    20.500000
75%    21.250000
max    22.000000

## 15. Operaciones con columnas

# Obteniendo una columna específica

In [54]:
print("\nObteniendo una columna específica:")
print(df_dict['nombre'])

Obteniendo una columna específica:
0      María
1       Luis
2     Carmen
3    Antonio
Name: nombre, dtype: object

# Obteniendo varias columnas

In [55]:
print("\nObteniendo varias columnas:")
print(df_dict[['nombre', 'edad']])

Obteniendo varias columnas:
    nombre  edad
0    María    18
1     Luis    22
2   Carmen    20
3  Antonio    21

# Calculando el promedio de una columna numérica

In [56]:
print("\nPromedio de la columna edad:", df_dict['edad'].mean())

Promedio de la columna edad: 20.25

## 16. Creando un DataFrame específico

In [57]:
print("\nCreando un DataFrame de estudiantes y calificaciones:")
estudiantes_df = pd.DataFrame({
    'Nombre': ['Ana', 'Juan', 'Pedro', 'María', 'Luis'],
    'Matemáticas': [90, 85, 70, 95, 80],
    'Ciencias': [88, 92, 75, 85, 95],
    'Historia': [75, 80, 85, 90, 92]
})
print(estudiantes_df)

Creando un DataFrame de estudiantes y calificaciones:
  Nombre  Matemáticas  Ciencias  Historia
0    Ana           90        88        75
1   Juan           85        92        80
2  Pedro           70        75        85
3  María           95        85        90
4   Luis           80        95        92

# Calculando el promedio por estudiante

In [58]:
estudiantes_df['Promedio'] = (estudiantes_df['Matemáticas'] + 
                              estudiantes_df['Ciencias'] + 
                              estudiantes_df['Historia']) / 3
print("\nDataFrame con promedios:")
print(estudiantes_df)

DataFrame con promedios:
  Nombre  Matemáticas  Ciencias  Historia   Promedio
0    Ana           90        88        75  84.333333
1   Juan           85        92        80  85.666667
2  Pedro           70        75        85  76.666667
3  María           95        85        90  90.000000
4   Luis           80        95        92  89.000000

In [ ]:
print(estudiantes_df)

  Nombre  Matemáticas  Ciencias  Historia   Promedio
0    Ana           90        88        75  84.333333
1   Juan           85        92        80  85.666667
2  Pedro           70        75        85  76.666667
3  María           95        85        90  90.000000
4   Luis           80        95        92  89.000000

## 17. Cambiando nombres de columnas

# Vamos a utilizar un conjunto de datos de ejemplo (simulando el archivo colesterol.csv)
print("\nCambiando nombres de columnas:")
colesterol_data = {
    'nombre': ['Juan', 'María', 'Carlos', 'Ana', 'Pedro'],
    'edad': [22, 45, 33, 27, 51],
    'altura': [1.72, 1.65, 1.81, 1.70, 1.78],
    'peso': [68, 59, 85, 63, 77],
    'colesterol': [182, 200, 156, 175, 221]
}
df_colesterol = pd.DataFrame(colesterol_data)
print("DataFrame original:")
print(df_colesterol)## 17. Cambiando nombres de columnas

In [59]:
print("\nCambiando nombres de columnas:")
colesterol_data = {
    'nombre': ['Juan', 'María', 'Carlos', 'Ana', 'Pedro'],
    'edad': [22, 45, 33, 27, 51],
    'altura': [1.72, 1.65, 1.81, 1.70, 1.78],
    'peso': [68, 59, 85, 63, 77],
    'colesterol': [182, 200, 156, 175, 221]
}
df_colesterol = pd.DataFrame(colesterol_data)
print("DataFrame original:")
print(df_colesterol)## 17. Cambiando nombres de columnas

Cambiando nombres de columnas:
DataFrame original:
   nombre  edad  altura  peso  colesterol
0    Juan    22    1.72    68         182
1   María    45    1.65    59         200
2  Carlos    33    1.81    85         156
3     Ana    27    1.70    63         175
4   Pedro    51    1.78    77         221

# Renombrando columnas

In [61]:
df_renamed = df_colesterol.rename(columns={
    'nombre': 'nombre y apellidos', 
    'altura': 'estatura'
})
print("\nDataFrame con columnas renombradas:")
print(df_renamed)

DataFrame con columnas renombradas:
  nombre y apellidos  edad  estatura  peso  colesterol
0               Juan    22      1.72    68         182
1              María    45      1.65    59         200
2             Carlos    33      1.81    85         156
3                Ana    27      1.70    63         175
4              Pedro    51      1.78    77         221

## 18. Cambiando el índice

In [62]:
print("\nCambiando el índice del DataFrame:")
df_new_index = df_colesterol.set_index("nombre")
print(df_new_index)

Cambiando el índice del DataFrame:
        edad  altura  peso  colesterol
nombre
Juan      22    1.72    68         182
María     45    1.65    59         200
Carlos    33    1.81    85         156
Ana       27    1.70    63         175
Pedro     51    1.78    77         221

# acceder al elementos del dataframe

In [63]:
print("\nAccediendo a elementos específicos:")
print("Una fila completa (índice 1):")
print(df_colesterol.loc[1])

print("\nValor específico (fila 2, columna 'edad'):")
print(df_colesterol.loc[2, 'edad'])

print("\nVarias filas (2 y 5):")

Accediendo a elementos específicos:
Una fila completa (índice 1):
nombre        María
edad             45
altura         1.65
peso             59
colesterol      200
Name: 1, dtype: object

Valor específico (fila 2, columna 'edad'):
33

Varias filas (2 y 5):


# Nota: Como tenemos solo 5 filas (índices 0-4), usaremos 2 y 4 en su lugar

In [64]:
print("\nVarias filas (2 y 5):")
print(df_colesterol.loc[[2, 4]])

Varias filas (2 y 5):
   nombre  edad  altura  peso  colesterol
2  Carlos    33    1.81    85         156
4   Pedro    51    1.78    77         221

# Añadir nueva columna

In [65]:
print("\nAñadiendo una nueva columna:")
df_colesterol['diabetes'] = pd.Series([False, False, True, False, True])
print(df_colesterol)

Añadiendo una nueva columna:
   nombre  edad  altura  peso  colesterol  diabetes
0    Juan    22    1.72    68         182     False
1   María    45    1.65    59         200     False
2  Carlos    33    1.81    85         156      True
3     Ana    27    1.70    63         175     False
4   Pedro    51    1.78    77         221      True

# eliminar columna

In [ ]:

print("\nEliminando una columna:")
df_colesterol.pop("diabetes")
print(df_colesterol)

# adicionar filas

In [67]:
print("\nAñadiendo una nueva fila:")
# En versiones recientes de pandas, append está obsoleto, usamos concat
nueva_fila = pd.DataFrame({'nombre': ['Laura'], 'edad': [29], 'altura': [1.68], 'peso': [65], 'colesterol': [165]})
df_con_nueva_fila = pd.concat([df_colesterol, nueva_fila], ignore_index=True)
print(df_con_nueva_fila)

Añadiendo una nueva fila:
   nombre  edad  altura  peso  colesterol diabetes
0    Juan    22    1.72    68         182    False
1   María    45    1.65    59         200    False
2  Carlos    33    1.81    85         156     True
3     Ana    27    1.70    63         175    False
4   Pedro    51    1.78    77         221     True
5   Laura    29    1.68    65         165      NaN

# Eliminar filas

In [68]:
print("\nEliminando una fila (índice 1):")
df_sin_fila = df_colesterol.drop(1)
print(df_sin_fila)

Eliminando una fila (índice 1):
   nombre  edad  altura  peso  colesterol  diabetes
0    Juan    22    1.72    68         182     False
2  Carlos    33    1.81    85         156      True
3     Ana    27    1.70    63         175     False
4   Pedro    51    1.78    77         221      True

# odenar un dataset

In [ ]:
print("\nOrdenando un DataFrame por una columna:")
print("Ordenado por edad (ascendente):")
print(df_colesterol.sort_values('edad'))

print("\nOrdenado por edad (descendente):")
print(df_colesterol.sort_values('edad', ascending=False))

print("\nOrdenado por múltiples columnas (primero altura, luego edad):")
print(df_colesterol.sort_values(['altura', 'edad']))

24 Ejemplo de ardillas

In [69]:
## 24. Ejercicios adicionales

# Censo de ardillas de Central Park (Simulado)
print("\nSimulación de Censo de Ardillas:")
# Creando un DataFrame de muestra para simular el censo de ardillas
squirrel_data = {
    'Unique Squirrel ID': ['1A', '2B', '3C', '4D', '5E'],
    'Age': ['Adult', 'Juvenile', 'Adult', 'Adult', 'Juvenile'],
    'Primary Fur Color': ['Gray', 'Cinnamon', 'Black', 'Gray', 'Cinnamon'],
    'Location': ['Ground Plane', 'Above Ground', 'Ground Plane', 'Above Ground', 'Ground Plane'],
    'Eating': [True, False, True, False, True],
    'Running': [False, True, False, True, False]
}
df_squirrels = pd.DataFrame(squirrel_data)
print(df_squirrels)

Simulación de Censo de Ardillas:
  Unique Squirrel ID       Age Primary Fur Color      Location  Eating  \
0                 1A     Adult              Gray  Ground Plane    True
1                 2B  Juvenile          Cinnamon  Above Ground   False
2                 3C     Adult             Black  Ground Plane    True
3                 4D     Adult              Gray  Above Ground   False
4                 5E  Juvenile          Cinnamon  Ground Plane    True

   Running
0    False
1     True
2    False
3     True
4    False

# Ejercicio: Contar ardillas por color de pelaje

In [70]:
print("\nConteo de ardillas por color de pelaje:")
print(df_squirrels['Primary Fur Color'].value_counts())

Conteo de ardillas por color de pelaje:
Primary Fur Color
Gray        2
Cinnamon    2
Black       1
Name: count, dtype: int64